.case-2-moine-1 {
  background-color: rgb(173, 255, 144);
  width: 65%;
}

.case-2-moine-2 {
  background-color: rgb(255, 144, 144);
  height: 250px;
  width: 100px;
}

.case-3-général {
  background-color: rgb(46, 98, 254);
  height: 250px;
  width: 500px;
}
