.main-case-2 {
  position: relative;
  aspect-ratio: 1.44 / 0.83;
}

.case-2-cadre {
  position: absolute;
  width: 64%;
  // height: 48%;
  aspect-ratio: 0.9 / 0.67;
  border: 2px solid black;
}

.case-2-moine-1 {
  position: absolute;
  width: 19%;
  bottom: 0;
  right: 10%;
  background-color: rgb(115, 80, 180);
  // height: 35%;
}

.case-2-moine-2 {
  position: absolute;
  width: 15%;
  left: 8%;
  background-color: rgb(255, 144, 144);
  // height: 38%;
}

.case-2-bulle {
  position: absolute;
  right: 18%;
  top: 33%;
  width: 12%;
  background-color: beige;
}

// .teste-espace-pour-scroll {
//   background-color: aqua;
//   height: 300px;
// }

.main-case-3 {
  position: relative;
  aspect-ratio: 1.44 / 0.83;
}

.case-3-general {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 61%;
  border: 2px solid black;

  background-color: rgb(46, 98, 254);
}

.case-3-moine {
  position: absolute;
  top: 11%;
  right: 43%;
  width: 15%;
}
