.main-case-5 {
  aspect-ratio: 3 / 2;
  position: relative;
}

.case-5-container {
  position: absolute;
  top: 35%;
  left: 41%;
}

.case-5-fond {
  position: static;
  width: 250px;
  height: 350px;
}

.case-5-masque {
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.case-5-avalanche {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 250px;
  height: 350px;
}

.main-case-4 {
  position: relative;
  aspect-ratio: 1.44 / 0.86;
}

.case-4-bulle {
  position: absolute;
  top: 5%;
  right: 34%;
  width: 40%;
}

.case-4-moine {
  position: absolute;
  bottom: 0%;
  right: 43%;
  width: 23%;
}
