.main-case-6 {
  aspect-ratio: 1.44 / 0.8;
  position: relative;
}

.case-6-bulle {
  position: absolute;
  width: 42%;
  top: 17%;
  right: 28%;
}

.case-6-perso-echec {
  position: absolute;
  width: 64%;
  right: 4%;
  top: 59%;
}
