.main-case-10 {
  aspect-ratio: 1.44 / 0.8;
  position: relative;
}

.case-10-montagne-personnage {
  width: 41%;
  position: absolute;
  top: 14%;
  right: 56%;
}

.case-10-bulle {
  width: 26%;
  position: absolute;
  bottom: -10%;
  right: 19%;
}

.case-10-pierre {
  width: 19%;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.main-case-11 {
  aspect-ratio: 1.44 / 0.8;
  position: relative;
  background-color: black;
}

.case-11-jumelle {
  width: 77%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 13%;
}

.case-11-vision {
  width: 71%;
  position: absolute;
  top: 10%;
  right: 16%;
}
