.main-vente {
  aspect-ratio: 1.44 / 0.8;
  position: relative;
  background-color: black;
}

.cover-bd {
  width: 33%;
  position: absolute;
  top: 19%;
  left: 4%;
}

.vente-texte-container {
  position: absolute;
  width: 30%;
  top: 27%;
  right: 14%;
}
// mettre en pourcent
.title-vente {
  font-size: 53px;
}

button {
  font-size: 24px;
  padding: 10px;
  border: 3px solid black;
}
