.main-vente {
  aspect-ratio: 1.44 / 0.8;
  position: relative;
  background-color: black;
}

.cover-bd {
  width: 33%;
  position: absolute;
  top: 19%;
  left: 4%;
}

.vente-texte-container {
  position: absolute;
  width: 30%;
  top: 27%;
  right: 14%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
// mettre en pourcent
.title-vente {
  font-size: 53px;
  margin: 0;
}

button {
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  text-decoration: none;
  margin: 20px 0 20px 0;
}

button a {
  color: black;
  text-decoration: none;
  margin: 0;
  font-size: 24px;
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-summary {
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}

.title-summary h2 {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-summary img {
  width: 4%;
}

.title-features {
  border-bottom: 3px solid rgb(255, 255, 255);
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  width: 95%;
}

.title-features h2 {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-features img {
  width: 4%;
}
