.case {
  border: 2px solid red;
}

.case-0-logo-tibet {
  background-color: rgb(89, 173, 246);
  height: 500px;
  width: 900px;
}

.case-2-moine-1 {
  background-color: rgb(173, 255, 144);
  height: 500px;
  width: 900px;
}

.case-2-moine-2 {
  background-color: rgb(255, 144, 144);
  height: 250px;
  width: 100px;
}
